// Inicio
color: white;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Reservar vuelo
color: white;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Búsqueda 
color: white;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Destinos 
color: white;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Informacion y ayuda
color: white;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Tu reserva
color: white;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Login
color: white;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Español
color: #22294C;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Salida
color: #15164D;
 font-size: 15px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Ida y Vuelta
color: #15164D;
 font-size: 15px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Historial
color: #15164D;
 font-size: 15px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Historial
color: #15164D;
 font-size: 15px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Bogota D.C
color: #22294C;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Destino
color: #22294C;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Origen
color: #22294C;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Ida
color: #22294C;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// 15/02/2025
color: #22294C;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Vuelta
color: #22294C;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// 20/03/2025
color: #22294C;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// 1
color: #22294C;
 font-size: 32px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Buscar
color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// Lugares de interés
color: white;
 font-size: 17.73px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Nulla imperdet dictum 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// laoreet netus. Habitant 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// ullamcorper. Auctor 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// auctor cras.
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Nulla imperdet dictum 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// laoreet netus. Habitant 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// ullamcorper. Auctor 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// auctor cras.
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Prestador de servicio
color: white;
 font-size: 17.73px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Nulla imperdet dictum 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// laoreet netus. Habitant 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// ullamcorper. Auctor 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// auctor cras.
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Actividades sugeridas
color: white;
 font-size: 17.73px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Nulla imperdet dictum 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// laoreet netus. Habitant 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// ullamcorper. Auctor 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// auctor cras.
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Eventos
color: white;
 font-size: 17.73px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Gastronomía
color: white;
 font-size: 17.73px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Nulla imperdet dictum 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// laoreet netus. Habitant 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// ullamcorper. Auctor 
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// auctor cras.
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Preparate para viajar
color: white;
 font-size: 32px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Conoce todo sobre tu viaje
color: white;
 font-size: 40px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Lorem ipsum dolor sit amet consectetur. <br/>Adipiscing congue purus faucibus lobortis <br/>nec nunc in. 
color: #999999;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Equipaje
color: #22294C;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Lorem ipsum dolor sit amet consectetur. <br/>Adipiscing congue purus faucibus lobortis <br/>nec nunc in. 
color: #999999;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Aerolineas
color: #22294C;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Lorem ipsum dolor sit amet consectetur. <br/>Adipiscing congue purus faucibus lobortis <br/>nec nunc in. 
color: #999999;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Experiencia 
color: #22294C;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// VUELA COMO TE GUSTA
color: #22294C;
 font-size: 40px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// 25% Descuento
color: white;
 font-size: 80px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// En todos nuestros<br/>vuelos
color: white;
 font-size: 70px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
---
// OFERTAS
color: white;
 font-size: 64px;
 font-family: Roboto;
 font-weight: 500;
 word-wrap: break-word
